@import url('https://fonts.googleapis.com/css2?family=Anek+Tamil:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@500&display=swap');

.about-text{
    align-items: center;
    margin: 0;

  }

  .countUp{
    align-items: center;
    margin: 0;
    
  }
  .countup-font{
      font-size: 65px;
      /* font-family: 'Anek Tamil', sans-serif; */
      font-weight: 300;
      font-family: 'Mulish', sans-serif;
      color: rgb(16, 31, 167);
      
  }
  .about-pragraph{
    font-weight: 300;
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
  }
  .aboutus-img{
    background-image:url(../Images/img3.png);
    /* background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
    /* height: 30vh */
    background-attachment: fixed;
    background-position: 0 71.9125px;
    padding: 4.30rem 0;
    background-repeat:no-repeat;
    background-size: cover;
    padding-top: 100px;
    text-align: center;
    margin-bottom: 20px;
    width:100%;
    height: 28.100rem;
  }
  .aboutus-img-text{
    align-items: center;
    margin: 0;
    padding: 10px;
  }
   
  
  .picture-aboutus{
    border-radius: 5px;
    color:rgb(39, 36, 36);
    box-shadow: 2px 3px 5px rgb(25, 24, 24);
  }
  .font{
    font-weight: 300;
    font-family: 'Mulish', sans-serif;
  }
  @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
  .aboutus-h1{
    font-size: 80px;
    font-family: 'Roboto Slab', serif;
    color: rgb(12, 17, 152);
  }
  .about-h1-tag{
    color: rgb(12, 17, 152);
    font-family: 'Roboto Slab', serif;
    font-size: 40px;
    
  }